<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error | Node Website</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Node Website</a></h1>
      <div class="links">
        <a class="link" href="/about">About</a>
        <a class="link" href="/contact-me">Contact</a>
      </div>
    </header>
    <section class="body">
      <h1>404 Error</h1>
      <h2>Sorry, the page you're looking for could not be found!</h2>
    </section>
  </body>
</html>
